name: Deploy master to Live

on: workflow_dispatch

jobs:
  deploy:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Install
        run: npm install
      
      - name: Build
        run: npm run build

      - name: Deploy
        run: |
          cd dist
          cp index.html 404.html
          git config --global user.name "Leon Latsch"
          git config --global user.email "dev.leonlatsch@gmail.com"
          git init
          git add -A
          git commit -m "deploy"
          git push -f https://leonlatsch:${{ secrets.GITHUB_TOKEN }}@github.com/leonlatsch/homepage.git master:gh-pages
          
